.pagination-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f500;
  padding: 7px;
  display: flex;
  justify-content: space-around;
  z-index: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap; 
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  display: block;
  padding: 8px 12px;
  background-color: #0650b0;
  border: none;
  color: #ffffff;
  text-decoration: none;
}

.pagination .page-link:hover {
  background-color: #184773;
  color: white;
}

.pagination .page-item.active .page-link {
  background-color: #333;
  color: #fff;
}


@media (max-width: 600px) {
  .pagination .page-item {
    margin: 5px 2px; 
  }

  .pagination .page-link {
    padding: 8px 6px; 
  }
}
